.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules/
db/
Client/lib
/bower_components

# Floobits
.floo
.floobit
.floo
.flooignore

#parser
parser/node_modules
parser/results

*.vim
.*
