<div class="card grey lighten-3" ng-controller="sodocanExplanationCtrl" ng-hide="styles[explanationType].on" ng-mouseenter="mouseEnter()" ng-mouseleave="mouseLeave()">
  <img ng-click="toggleTextArea()" src="../angular-sodone/images/respond.png" height=15 class="tint"> </img>
  <h6>{{explanationType}}</h6>
  <i class="material-icons right" ng-class="iconCSS">queue</i>  
  <i class="material-icons right" ng-class="iconCSS" ng-click="showModal()">settings</i>
  <div ng-repeat='entry in entryArray'>
    <div sodocan-entry>
    </div>
  </div>
  <div ng-repeat='entry in localEntries'>
    <div sodocan-entry>
    </div>
  </div>
  <form>
    <div class="input-field" ng-hide="hideTextArea">
      <textarea id="textArea{{$id}}" ng-model="entryText" class="materialize-textarea"></textarea>
      <label for="textArea{{$id}}">Your entry for {{explanationType}}</label>
      <a ng-click="submitEntry()" href="#" class="btn submit">Submit</a>
    </div>
  </form>

</div>
