<div class="modal-setting" ng-controller="sodocanExpGlobalModalCtrl">
    <!-- Should make this modular with ng-repeat at some point-->
    <div style="text-align:center"><h5>Description</h5></div>
    <div class="setting-entry">
      <div class="setting-entry-title inline">Entries:</div>
      <a href="" class="btn contextBtn" ng-click="loadEntries(1, 'descriptions')">Top</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(2, 'descriptions')">Top 2</a> 
      <a href="" class="btn contextBtn" ng-click="loadEntries(3, 'descriptions')">Top 3</a> 
      <a href="" class="btn contextBtn" ng-click="loadEntries(5, 'descriptions')">Top 5</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(10, 'descriptions')">Top 10</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(-1, 'descriptions')">All</a>
    </div>
    <div class="setting-entry">
      <div class="setting-entry-title inline">Comments:</div>
      <a href="" class="btn contextBtn" ng-click="loadComments(1, 'descriptions')">Top</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(2, 'descriptions')">Top 2</a> 
      <a href="" class="btn contextBtn" ng-click="loadComments(3, 'descriptions')">Top 3</a> 
      <a href="" class="btn contextBtn"  ng-click="loadComments(5, 'descriptions')">Top 5</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(10, 'descriptions')">Top 10</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(-1, 'descriptions')">All</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(0, 'descriptions')">None</a>
    </div>

    <div style="text-align:center"><h5>Examples</h5></div>
    <div class="setting-entry">
      <div class="setting-entry-title inline">Entries:</div>
      <a href="" class="btn contextBtn" ng-click="loadEntries(1, 'examples')">Top</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(2, 'examples')">Top 2</a> 
      <a href="" class="btn contextBtn" ng-click="loadEntries(3, 'examples')">Top 3</a> 
      <a href="" class="btn contextBtn" ng-click="loadEntries(5, 'examples')">Top 5</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(10, 'examples')">Top 10</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(-1, 'examples')">All</a>
    </div>
    <div class="setting-entry">
      <div class="setting-entry-title inline">Comments:</div>
      <a href="" class="btn contextBtn" ng-click="loadComments(1, 'examples')">Top</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(2, 'examples')">Top 2</a> 
      <a href="" class="btn contextBtn" ng-click="loadComments(3, 'examples')">Top 3</a> 
      <a href="" class="btn contextBtn"  ng-click="loadComments(5, 'examples')">Top 5</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(10, 'examples')">Top 10</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(-1, 'examples')">All</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(0, 'examples')">None</a>
    </div>

    <div style="text-align:center"><h5>Tips</h5></div>
    <div class="setting-entry">
      <div class="setting-entry-title inline">Entries:</div>
      <a href="" class="btn contextBtn" ng-click="loadEntries(1, 'tips')">Top</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(2, 'tips')">Top 2</a> 
      <a href="" class="btn contextBtn" ng-click="loadEntries(3, 'tips')">Top 3</a> 
      <a href="" class="btn contextBtn" ng-click="loadEntries(5, 'tips')">Top 5</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(10, 'tips')">Top 10</a>
      <a href="" class="btn contextBtn" ng-click="loadEntries(-1, 'tips')">All</a>
    </div>
    <div class="setting-entry">
      <div class="setting-entry-title inline">Comments:</div>
      <a href="" class="btn contextBtn" ng-click="loadComments(1, 'tips')">Top</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(2, 'tips')">Top 2</a> 
      <a href="" class="btn contextBtn" ng-click="loadComments(3, 'tips')">Top 3</a> 
      <a href="" class="btn contextBtn"  ng-click="loadComments(5, 'tips')">Top 5</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(10, 'tips')">Top 10</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(-1, 'tips')">All</a>
      <a href="" class="btn contextBtn" ng-click="loadComments(0, 'tips')">None</a>
    </div>
</div>