<div class="modal-setting" ng-controller="sodocanExpLocalModalCtrl">
  <div class="setting-entry">
    <div class="setting-entry-title inline">Entries:</div>
    <a href="" class="btn contextBtn" ng-click="loadEntries(1)">Top</a>
    <a href="" class="btn contextBtn" ng-click="loadEntries(2)">Top 2</a> 
    <a href="" class="btn contextBtn" ng-click="loadEntries(3)">Top 3</a> 
    <a href="" class="btn contextBtn" ng-click="loadEntries(5)">Top 5</a>
    <a href="" class="btn contextBtn" ng-click="loadEntries(10)">Top 10</a>
    <a href="" class="btn contextBtn" ng-click="loadEntries(-1)">All</a>
  </div>
  <div class="setting-entry">
    <div class="setting-entry-title inline">Comments:</div>
    <a href="" class="btn contextBtn" ng-click="loadComments(1)">Top</a>
    <a href="" class="btn contextBtn" ng-click="loadComments(2)">Top 2</a> 
    <a href="" class="btn contextBtn" ng-click="loadComments(3)">Top 3</a> 
    <a href="" class="btn contextBtn"  ng-click="loadComments(5)">Top 5</a>
    <a href="" class="btn contextBtn" ng-click="loadComments(10)">Top 10</a>
    <a href="" class="btn contextBtn" ng-click="loadComments(-1)">All</a>
    <a href="" class="btn contextBtn" ng-click="loadComments(0)">None</a>
  </div>
</div>