<div class="row" ng-controller="sodocanEntryCtrl">
  <div class="col s12 card-inner entry grey lighten-3">
    <div class="inline" style="vertical-align:middle">{{entry.text}}</div>

    <div class="right entry-icons inline" stlye="vertical-align:middle">
      <span class="vote-count">{{entry.upvotes}}</span>
      <i class="fa fa-thumbs-o-up" ng-click="upvote()"></i>
      <i class="fa fa-plus" ng-click="toggleTextArea()"></i>  
    </div>

    <div>
      <div>
        <div ng-repeat="comment in entry.comments | limitTo: displayedComments">
          <div sodocan-comment>
          </div>
        </div>
      </div>
      <div ng-repeat="comment in tempComments">
        <div sodocan-comment>
        </div>
      </div>
    </div>
    

    <form>
      <div class="input-field" ng-hide="hideTextArea">
        <textarea id="textArea{{$id}}" ng-model="commentText" class="materialize-textarea"></textarea>
        <label for="textArea{{$id}}">Your comment for this entry</label>
        <a ng-click="submitComment()" href="#" class="btn submit">Submit</a>
      </div>
    </form>
  </div>
</div>

