<div class="auth" ng-controller="authCtrl">
  <h1>Sign Up</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name='username' ng-model='username' required placeholder="Username or Email">
    <p ng-show='signinForm.username.$invalid && !signupForm.username.$pristine'>Please enter a valid username.</p>
    <input type="password" name='password' ng-model='password' required placeholder="Password">
    <p ng-show='signupForm.password.$invalid && !signupForm.password.$pristine'>Please enter a valid password.</p>
    <button ng-disabled='signupForm.$invalid'>Sign Up</button>
  </form>
</div>